<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a ui-sref="mail.list({ box:'inbox' })"><span class="navbar-logo glyphicon glyphicon-envelope"></span></a>
        <a class="navbar-brand" ui-sref="mail.list({ box:'inbox' })">CatMail</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li ng-class="{ 'active': cmNavCtrl.state.current.name.indexOf('mail') != -1 }"><a ui-sref="mail.list({ box: 'inbox' })">Mails</a></li>
          <li ng-class="{ 'active': cmNavCtrl.state.current.name.indexOf('user') != -1 }"><a ui-sref="user.list">Users</a></li>
        </ul>
        <a class="navbar-exit" href="#" ng-click="cmNavCtrl.logout()">Logout</a>
      </div>
    </div>
</nav>